body{
            padding:0;
            margin:0;
            height: auto;
       background: rgba(0, 0, 255, 0.37);
           
        }
        #logo{
            margin-left:2%;
            width:60px;
            height:60px;
        }
        
        .taskbar img{
            width:30px;
            border-radius: 50%;
            overflow: hidden;
            height:30px;
            transition: all 0.1s ease-in-out;
        }
        .taskbar img:hover{
            width:45px;
            height:45px;
        }
        *{
            user-select: none;
            outline: none;
        }
        .taskbar{
            
            position: fixed;
            z-index:10;
            background: #142170;
            color:white;
            font-size: 15px;
            width:100%;
            padding:5px;

        }
     
        #searchBar{
            margin-left:1%;
            width:50%;
            height:40px;
            border-radius: 25px;
            padding:5px;
            color:grey;
            border:1px solid rgba(128,128,128,0.5);
            overflow: hidden;
        }
        .buttons{
            margin-left:2%;
            display: inline;
        }
        .online
        {
            /*transform: translateY(+100%);*/
            top:17%;
            color:white;
            border:2px solid rgba(128,128,128,0.4);
            right:0px;
            z-index:10;
            display: list-item;
            position: fixed;
            background:white;
            height:auto;
            width:200px;
            border-radius: 15px;
            overflow:hidden;
            padding:10px;
            background: rgba(0,0,255,0.6);
        }
        .online button img{
            width:30px;
            height:30px;
        }
        .online button{
            color:white;
            border:none;
            display: block;
            background:none;
            text-align: left;

            transition: all 0.3 ease-in-out;
        }
       
        .online h5:hover{
             background:rgb(98, 107, 159);
             color:white;
           
        }

        .online h5{
            text-align: center;
            padding:20px;
            background:white;
            color:#142170;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
              font-size:22px;
             transition: all 0.15s ease-in-out;

        }
        /*POSTS FRONT END STARTS HERE*/
        .posts{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding:10px;
            background:white;
            z-index:0;
            width:45%;
            margin-left:25%;
            height:auto;
            overflow: hidden;
            position: absolute;
            margin-top:6%;
            display: list-item;
        }
        .post{
            width:100%;
            height: auto;
            background:white;
            display: block;
            padding:12px;
        /* border:1px solid grey;*/
         border-radius: 5px;

        }
        .postheader{
            width:100%;
            height:auto;
            line-height:0;

        }
        .postheader img{
            border-radius: 50%;
            overflow: hidden;
            width:40px;
            height:40px;

        }
        .myProf,.tag,.tagO{
            color:blue;
        }
        .postheader .duration{
            color:grey;
            font-size: 10px;
            margin-left:45px;
        }
        .postData {
            margin-top:20px;

        }
        .spinLogo{
            animation: spin 10s infinite linear;
          }
          @keyframes spin {
            0%{
              transform: rotateZ(0deg);
            }
            100%{
              transform: rotateZ(360deg);
            }
          }
    .postText{
            text-align: justify;
            color:grey;
        }
        .sharedMedia{
            width:80%;
            margin-left:10%;
            height:auto;

        }
        .controls span{
            color:grey;
            transition: all 0.3s ease-in-out;
            margin:7px;
        }
        .controls span:hover{
            color:black;
        }
        .postfooter{
            display: inline-flex;
            flex-direction: row;
            padding:5px;
            width: 100%;

        }
        .postfooter textarea{
            width:100%;
            border-radius: 15px;
            resize: none;
            padding:5px;
            overflow-x:hidden;
            overflow-y: auto;
        }
        .createPost{
            padding:10px;
            background:white;
            width:100%;
            height:400px;
            overflow: hidden;
            position: relative;
            display: list-item;
        }
        .createPost .myProf{
            width:40px;
            height:40px;
            overflow: hidden;

        }.createPost #myPr{
            color:grey;
            margin-left:10px;
        }
        .createPost textarea{
            resize: none;
            width: 100%;
            height: 100px;
            border-radius: 5px;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .createPost .mediaFiles{
            color:grey;

        }
        .createPost button{
            float:right;
        }
        .createPost hr,.posts hr{
            box-shadow: 0.1px rgb(95, 95, 95);
            border: 2px solid grey;
            border-radius: 50%;
        }
        /*POSTS FRONT END FINISH HERE*/
        #webd{
            display: none;
        }